<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="File" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="ReqToServerJS">
                    <match url=".*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>

        <webSocket enabled="false" />
    </system.webServer>
    
    <appSettings>
        <add key="node_env" value="production" />
        <add key="nodeProcessCommandLine" value="C:\Program Files\nodejs\node.exe --no-deprecation" />
    </appSettings>
</configuration>